<main>
    <h1 class="text-center text-musaca">Login</h1>
    <hr class="bg-musaca w-50" style="height: 2px" />
    <form class="w-50 mx-auto" action="/Users/Login" method="POST">
        <div class="form-group">
            <label for="username" class="text-musaca">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username..." />
        </div>
        <div class="form-group">
            <label for="password" class="text-musaca">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password..." />
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn bg-musaca text-white" style="background: #32CD32">Login</button>
        </div>
    </form>
</main>